.idea/
.gradle/*
/.idea/libraries/rules_0_5.xml
support_media_compat_24_2_1.xml
.idea
support_compat_24_2_1.xml
appcompat_v7_24_2_1.xml
/.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
/.gradle/2.14.1/taskArtifacts/cache.properties.lock
/.idea/modules.xml
/.gradle/2.14.1/taskArtifacts/taskArtifacts.bin
/.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
/.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
